# folders
.mixin.out
asm
astralsorcery
backups
crash-reports
downloads
local
logs
mods/*
saves
mputils
resourcepacks
saves
valkyrielib
Xaero*

#files
.curseclient
.ReAuth.cfg
BotaniaVars.dat
crafttweaker.log
knownkeys.txt
minecraftinstance.json
patchouli_data.json
usercache.json
usernamecache.json
textures_*
*export.json

*.log

#Configs
config/AppliedEnergistics2/items.csv
config/AppliedEnergistics2/CustomRecipes*
config/jei/bookmarks*
config/jei/world*
config/InvTweaks/InvTweaks.cfg
config/craftpresence*
config/splash*
config/Guide-API/Guide-API.cfg
config/splash.properties
